<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSI Governamental</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Kufi+Arabic:wght@300;400;500&family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Noto+Sans+Hebrew:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">


</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    <div class="toast active">
        {% for category, message in messages %}
        <div class="toast-content">
            <img class="fas fa-solid fa-check check" src="../static/img/{{ category }}.png">


            <div class="message">
                <span class="text text-1">{{ category }}</span>
                <span class="text text-2">{{ message }}</span>
            </div>

        </div>

        <i class="fa-solid fa-xmark close"></i>
        <div class="progress active {{ category }}"></div>
        {% endfor %}

    </div>
    <script>
        setTimeout(function () {
            document.querySelector('.toast').style.display = 'none';
        }, 5600);
    </script>
    {% endif %}
    {% endwith %}




    <div id="central_esquerda">
        <div id="central_esquerda_conteudo">
            <a href="/">
                <p class="central_esquerda_conteudo_p">Gerenciador de Tarefas</p>
            </a>
            <a href="/dashboard_tarefas">
                <p class="central_esquerda_conteudo_p">Dashboard de Tarefas</p>
            </a>
            <a href="/criar_tarefa">
                <p class="central_esquerda_conteudo_p">Criador de Tarefas</p>
            </a>
            <a href="/tarefas_arquivadas">
                <p class="central_esquerda_conteudo_p">Tarefas Arquivadas</p>
            </a>
            <a href="/usuarios">
                <p class="central_esquerda_conteudo_p">Vizualizar Usuarios</p>
            </a>
            <a href="/criar_usuario">
                <p class="central_esquerda_conteudo_p">Criar Usuario</p>
            </a>
            <a href="/configuracao">
                <p class="central_esquerda_conteudo_p">Configuracoes</p>
            </a>
            <a href="/logout">
                <p class="central_esquerda_conteudo_p">Deslogar</p>
            </a>
        </div>
    </div>


    <header>
        <div class="footer_top">
            <div style="display: flex; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/2319/2319181.png" id="toggleButton"
                    onclick="toggleWidth()">
                <p>CSI Governamental</p>
            </div>
            <div style="display: flex; align-items: center;">
                <p style="margin-right: 10px;">{{nome_user}}</p>
                <img src="{{dados[0][6]}}" style="border-radius: 50%; width: 32px; height: 32px;">
            </div>
        </div>

        <div class="content" style="max-width: 30%; text-align: center;">
            <form action="/configuracao" method="post">
                <div>
                    <img src="{{dados[0][6]}}" style="max-height: 200px; max-width: 200px; border-radius: 50%;">
                </div><br><br>

                <div>
                    <p>Usuario</p>
                    <input type="text" name="usuario" value="{{dados[0][0]}}" disabled>
                    <br><p>Nome</p>
                    <input type="text" name="nome" value="{{dados[0][2]}}" disabled>
                    <br><p>E-mail</p>
                    <input type="email" name="email" value="{{dados[0][3]}}">
                    <br><p>Url da foto</p>
                    <input type="text" name="foto_url" value="{{dados[0][6]}}"><br>
                    <input type="submit" id="btn_submit">
                </div>
            </form>
        </div>
    </header>



</body>
<script src="{{ url_for('static',     filename='js/script.js') }}"></script>
</html>